{% extends 'layout.html' %}
{% block content %}
    <div class="temp_card">
    <div class="q_div">
    <h3>{{ ques[0]["question"] }}</h3>
    </div>
    {% if ans != "" %}
    {% for answer in ans[0]["answers"].values() %}
            
        <div class="temp_ans_card">
            <p class="temp_ans">{{ answer["answer"] }}</p>
            <b>
                <small>at: {{ answer["time"] }}</small>
                <small>by: {{ answer["by"] }}</small>
            </b>
        </div>
        {% endfor %}
        <div class="feed_answer">
            <form action="#" method="POST">
                <input type="text" name="feed_ans" placeholder="Enter your answer here...."></input>
               <button type="submit" name="sub" value="{{ ans[0]['_id'] }}">Submit</button>
            </form>
        </div>    
    </div>
    {% else %}
    <div class="feed_answer">
        <form action="#" method="POST">
            <input type="text" name="feed_ans" placeholder="Enter your answer here...."></input>
            <button type="submit" name="sub" value="{{ None }}">Submit</button>
        </form>
    </div>    
</div>
{% endif %}


{% endblock %}